/* styling på billeder */

.trefork {
	height: 290px;
	margin-left: 207px;
	margin-top: 20px;
}
.elonmusk {
	height: 180px;
	margin-left: 233px;
	
}
.makeup {
	height: 260px;
	position: relative;
	bottom: 340px;
	margin-left: 418px;	
	
}
.bro {
	height: 50px;
	position: relative;
	bottom: 339px;
	margin-left: 614px;
}
.bjerge {
	height: 150px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
}
.spodify {
	height: 280px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
	
}
	/*animation og grayfilter*/
.row div img{
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
	transition: transform .05s;/*animation*/
	z-index: 10;
}
.row div img:hover{
	-webkit-filter:grayscale(0%);
	filter: grayscale(0%);
	transform: scale(1.2);	
	
}
.row div {
	z-index: 10;
}
.row div:hover {
	position: relative;
	z-index: 10000 !important;
}

.navigation {
	position: absolute;
	left: 275px;
	bottom: 7%;
}
nav a {
	font-family: 'toma sans';
	color: black;
	font-size: 24px; 
	margin-right: 116px;
	text-decoration: none;
}
nav a:hover {
	color:dimgrey;
}/* styling på billeder */

.trefork {
	height: 290px;
	margin-left: 207px;
	margin-top: 20px;
}
.elonmusk {
	height: 180px;
	margin-left: 233px;
	
}
.makeup {
	height: 260px;
	position: relative;
	bottom: 340px;
	margin-left: 418px;	
	
}
.bro {
	height: 50px;
	position: relative;
	bottom: 339px;
	margin-left: 614px;
}
.bjerge {
	height: 150px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
}
.spodify {
	height: 280px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
	
}
	/*animation og grayfilter*/
.row div img{
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
	transition: transform .05s;/*animation*/
	z-index: 10;
}
.row div img:hover{
	-webkit-filter:grayscale(0%);
	filter: grayscale(0%);
	transform: scale(1.2);	
	
}
.row div {
	z-index: 10;
}
.row div:hover {
	position: relative;
	z-index: 10000 !important;
}

.navigation {
	position: absolute;
	left: 275px;
	bottom: 7%;
}
nav a {
	font-family: 'toma sans';
	color: black;
	font-size: 24px; 
	margin-right: 116px;
	text-decoration: none;
}
nav a:hover {
	color:dimgrey;
}/* styling på billeder */

.trefork {
	height: 290px;
	margin-left: 207px;
	margin-top: 20px;
}
.elonmusk {
	height: 180px;
	margin-left: 233px;
	
}
.makeup {
	height: 260px;
	position: relative;
	bottom: 340px;
	margin-left: 418px;	
	
}
.bro {
	height: 50px;
	position: relative;
	bottom: 339px;
	margin-left: 614px;
}
.bjerge {
	height: 150px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
}
.spodify {
	height: 280px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
	
}
	/*animation og grayfilter*/
.row div img{
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
	transition: transform .05s;/*animation*/
	z-index: 10;
}
.row div img:hover{
	-webkit-filter:grayscale(0%);
	filter: grayscale(0%);
	transform: scale(1.2);	
	
}
.row div {
	z-index: 10;
}
.row div:hover {
	position: relative;
	z-index: 10000 !important;
}

.navigation {
	position: absolute;
	left: 275px;
	bottom: 7%;
}
nav a {
	font-family: 'toma sans';
	color: black;
	font-size: 24px; 
	margin-right: 116px;
	text-decoration: none;
}
nav a:hover {
	color:dimgrey;
}/* styling på billeder */

.trefork {
	height: 290px;
	margin-left: 207px;
	margin-top: 20px;
}
.elonmusk {
	height: 180px;
	margin-left: 233px;
	
}
.makeup {
	height: 260px;
	position: relative;
	bottom: 340px;
	margin-left: 418px;	
	
}
.bro {
	height: 50px;
	position: relative;
	bottom: 339px;
	margin-left: 614px;
}
.bjerge {
	height: 150px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
}
.spodify {
	height: 280px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
	
}
	/*animation og grayfilter*/
.row div img{
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
	transition: transform .05s;/*animation*/
	z-index: 10;
}
.row div img:hover{
	-webkit-filter:grayscale(0%);
	filter: grayscale(0%);
	transform: scale(1.2);	
	
}
.row div {
	z-index: 10;
}
.row div:hover {
	position: relative;
	z-index: 10000 !important;
}

.navigation {
	position: absolute;
	left: 275px;
	bottom: 7%;
}
nav a {
	font-family: 'toma sans';
	color: black;
	font-size: 24px; 
	margin-right: 116px;
	text-decoration: none;
}
nav a:hover {
	color:dimgrey;
}/* styling på billeder */

.trefork {
	height: 290px;
	margin-left: 207px;
	margin-top: 20px;
}
.elonmusk {
	height: 180px;
	margin-left: 233px;
	
}
.makeup {
	height: 260px;
	position: relative;
	bottom: 340px;
	margin-left: 418px;	
	
}
.bro {
	height: 50px;
	position: relative;
	bottom: 339px;
	margin-left: 614px;
}
.bjerge {
	height: 150px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
}
.spodify {
	height: 280px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
	
}
	/*animation og grayfilter*/
.row div img{
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
	transition: transform .05s;/*animation*/
	z-index: 10;
}
.row div img:hover{
	-webkit-filter:grayscale(0%);
	filter: grayscale(0%);
	transform: scale(1.2);	
	
}
.row div {
	z-index: 10;
}
.row div:hover {
	position: relative;
	z-index: 10000 !important;
}

.navigation {
	position: absolute;
	left: 275px;
	bottom: 7%;
}
nav a {
	font-family: 'toma sans';
	color: black;
	font-size: 24px; 
	margin-right: 116px;
	text-decoration: none;
}
nav a:hover {
	color:dimgrey;
}* styling på billeder */

.trefork {
	height: 290px;
	margin-left: 207px;
	margin-top: 20px;
}
.elonmusk {
	height: 180px;
	margin-left: 233px;
	
}
.makeup {
	height: 260px;
	position: relative;
	bottom: 340px;
	margin-left: 418px;	
	
}
.bro {
	height: 50px;
	position: relative;
	bottom: 339px;
	margin-left: 614px;
}
.bjerge {
	height: 150px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
}
.spodify {
	height: 280px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
	
}
	/*animation og grayfilter*/
.row div img{
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
	transition: transform .05s;/*animation*/
	z-index: 10;
}
.row div img:hover{
	-webkit-filter:grayscale(0%);
	filter: grayscale(0%);
	transform: scale(1.2);	
	
}
.row div {
	z-index: 10;
}
.row div:hover {
	position: relative;
	z-index: 10000 !important;
}

.navigation {
	position: absolute;
	left: 275px;
	bottom: 7%;
}
nav a {
	font-family: 'toma sans';
	color: black;
	font-size: 24px; 
	margin-right: 116px;
	text-decoration: none;
}
nav a:hover {
	color:dimgrey;
}
* styling på billeder */

.trefork {
	height: 290px;
	margin-left: 207px;
	margin-top: 20px;
}
.elonmusk {
	height: 180px;
	margin-left: 233px;
	
}
.makeup {
	height: 260px;
	position: relative;
	bottom: 340px;
	margin-left: 418px;	
	
}
.bro {
	height: 50px;
	position: relative;
	bottom: 339px;
	margin-left: 614px;
}
.bjerge {
	height: 150px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
}
.spodify {
	height: 280px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
	
}
	/*animation og grayfilter*/
.row div img{
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
	transition: transform .05s;/*animation*/
	z-index: 10;
}
.row div img:hover{
	-webkit-filter:grayscale(0%);
	filter: grayscale(0%);
	transform: scale(1.2);	
	
}
.row div {
	z-index: 10;
}
.row div:hover {
	position: relative;
	z-index: 10000 !important;
}

.navigation {
	position: absolute;
	left: 275px;
	bottom: 7%;
}
nav a {
	font-family: 'toma sans';
	color: black;
	font-size: 24px; 
	margin-right: 116px;
	text-decoration: none;
}
nav a:hover {
	color:dimgrey;
}
* styling på billeder */

.trefork {
	height: 290px;
	margin-left: 207px;
	margin-top: 20px;
}
.elonmusk {
	height: 180px;
	margin-left: 233px;
	
}
.makeup {
	height: 260px;
	position: relative;
	bottom: 340px;
	margin-left: 418px;	
	
}
.bro {
	height: 50px;
	position: relative;
	bottom: 339px;
	margin-left: 614px;
}
.bjerge {
	height: 150px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
}
.spodify {
	height: 280px;
	position: relative;
	bottom: 900px;
	margin-left: 814px;
	
}
	/*animation og grayfilter*/
.row div img{
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
	transition: transform .05s;/*animation*/
	z-index: 10;
}
.row div img:hover{
	-webkit-filter:grayscale(0%);
	filter: grayscale(0%);
	transform: scale(1.2);	
	
}
.row div {
	z-index: 10;
}
.row div:hover {
	position: relative;
	z-index: 10000 !important;
}

.navigation {
	position: absolute;
	left: 275px;
	bottom: 7%;
}
nav a {
	font-family: 'toma sans';
	color: black;
	font-size: 24px; 
	margin-right: 116px;
	text-decoration: none;
}
nav a:hover {
	color:dimgrey;
}
@charset "UTF-8";
